body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9eebf2;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 260px;
}

.display {
  background-color: #222;
  color: white;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.buttons {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background-color: #d7d4d4;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ddd;
}
